USE [master]
GO
/****** Object:  Database [QLTVien2018_1612838]    Script Date: 3/5/2018 10:10:52 PM ******/
CREATE DATABASE [QLTVien2018_1612838]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTVien2018_1612838', FILENAME = N'E:\Databases\LabTools-1612838-QLTVien\QLTVien2018_1612838.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTVien2018_1612838_log', FILENAME = N'E:\Databases\LabTools-1612838-QLTVien\QLTVien2018_1612838_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTVien2018_1612838].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTVien2018_1612838]
GO
USE [QLTVien2018_1612838]
GO
/****** Object:  Table [dbo].[CT_DONHANG]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONHANG](
	[MaDH] [char](4) NOT NULL,
	[MaSach] [char](4) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [PK_CT_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DONNHAP]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONNHAP](
	[MaDN] [char](4) NOT NULL,
	[MaSach] [char](4) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [PK_CT_DONNHAP] PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUMUON]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUMUON](
	[MaPM] [char](4) NOT NULL,
	[MaSach] [char](4) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_CT_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_HANG]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_HANG](
	[MaDH] [char](4) NOT NULL,
	[MaKH] [char](6) NULL,
	[NgayLap] [datetime] NULL,
 CONSTRAINT [PK_DON_HANG] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_NHAP]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_NHAP](
	[MaDN] [char](4) NOT NULL,
	[MaNXB] [char](5) NULL,
	[NgayNhap] [datetime] NULL,
 CONSTRAINT [PK_DON_NHAP] PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [char](6) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[MaLoaiKH] [char](4) NULL,
	[TienNo] [money] NULL,
	[DiemTichLuy] [float] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_NGUOI_DUNG]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_NGUOI_DUNG](
	[MaLoai] [char](4) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[TienNoToiDa] [money] NULL,
	[HeSoDiemThuong] [nchar](10) NULL,
	[DiemTichLuyCanThiet] [nchar](10) NULL,
	[SoLuongSachMuonToiDa] [int] NULL,
 CONSTRAINT [PK_LOAI_NGUOI_DUNG] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_NXB]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_NXB](
	[MaLoaiNXB] [char](5) NOT NULL,
	[TenLoaiNXB] [nvarchar](100) NULL,
	[TienNoToiDa] [money] NULL,
	[HeSoDiemThuong] [float] NULL,
	[DiemTichLuyCanThiet] [float] NULL,
 CONSTRAINT [PK_LOAI_NXB] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_XUAT_BAN]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_XUAT_BAN](
	[MaNXB] [char](5) NOT NULL,
	[TenNXB] [nvarchar](100) NULL,
	[TienNo] [money] NULL,
	[LoaiNXB] [char](5) NULL,
	[DiemTichLuy] [float] NULL,
 CONSTRAINT [PK_NHA_XUAT_BAN] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_MUON_SACH]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_MUON_SACH](
	[MaPM] [char](4) NOT NULL,
	[MaKH] [char](6) NULL,
	[NgayMuon] [datetime] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_PHIEU_MUON_SACH] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [char](4) NOT NULL,
	[TenSach] [nvarchar](100) NULL,
	[TacGia] [nvarchar](100) NULL,
	[MaTheLoai] [char](4) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THE_LOAI]    Script Date: 3/5/2018 10:10:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_LOAI](
	[MaTheLoai] [char](4) NOT NULL,
	[TenTheLoai] [nvarchar](100) NULL,
	[SoLuongSachTonToiDa] [int] NULL,
	[HeSoDiemMuon] [float] NULL,
 CONSTRAINT [PK_THE_LOAI] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_DONHANG] ([MaDH], [MaSach], [SoLuong], [DonGia]) VALUES (N'0001', N'NEWM', 25, 75000.0000)
GO
INSERT [dbo].[CT_DONHANG] ([MaDH], [MaSach], [SoLuong], [DonGia]) VALUES (N'0001', N'TDDV', 15, 15000.0000)
GO
INSERT [dbo].[CT_DONHANG] ([MaDH], [MaSach], [SoLuong], [DonGia]) VALUES (N'0001', N'TWIL', 15, 50000.0000)
GO
INSERT [dbo].[CT_DONNHAP] ([MaDN], [MaSach], [SoLuong], [DonGia]) VALUES (N'0001', N'NEWM', 25, 75000.0000)
GO
INSERT [dbo].[CT_DONNHAP] ([MaDN], [MaSach], [SoLuong], [DonGia]) VALUES (N'0001', N'TWIL', 15, 50000.0000)
GO
INSERT [dbo].[CT_DONNHAP] ([MaDN], [MaSach], [SoLuong], [DonGia]) VALUES (N'0002', N'ANDT', 15, 45000.0000)
GO
INSERT [dbo].[CT_PHIEUMUON] ([MaPM], [MaSach], [SoLuong]) VALUES (N'0001', N'ANDT', 1)
GO
INSERT [dbo].[CT_PHIEUMUON] ([MaPM], [MaSach], [SoLuong]) VALUES (N'0001', N'TDDV', 1)
GO
INSERT [dbo].[CT_PHIEUMUON] ([MaPM], [MaSach], [SoLuong]) VALUES (N'0001', N'TWIL', 1)
GO
INSERT [dbo].[DON_HANG] ([MaDH], [MaKH], [NgayLap]) VALUES (N'0001', N'000005', CAST(N'2009-01-13T12:00:00.000' AS DateTime))
GO
INSERT [dbo].[DON_HANG] ([MaDH], [MaKH], [NgayLap]) VALUES (N'0002', N'000005', CAST(N'2009-02-15T12:00:00.000' AS DateTime))
GO
INSERT [dbo].[DON_HANG] ([MaDH], [MaKH], [NgayLap]) VALUES (N'0003', N'000006', CAST(N'2009-04-26T12:00:00.000' AS DateTime))
GO
INSERT [dbo].[DON_NHAP] ([MaDN], [MaNXB], [NgayNhap]) VALUES (N'0001', N'KIMDO', CAST(N'2009-05-13T12:00:00.000' AS DateTime))
GO
INSERT [dbo].[DON_NHAP] ([MaDN], [MaNXB], [NgayNhap]) VALUES (N'0002', N'VANXU', CAST(N'2009-09-25T12:00:00.000' AS DateTime))
GO
INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [MaLoaiKH], [TienNo], [DiemTichLuy]) VALUES (N'000001', N'Trương Toàn Thịnh', N'0001', 20000.0000, 20)
GO
INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [MaLoaiKH], [TienNo], [DiemTichLuy]) VALUES (N'000002', N'Trương Trung Hiếu', N'0001', 30000.0000, 20)
GO
INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [MaLoaiKH], [TienNo], [DiemTichLuy]) VALUES (N'000003', N'Ngô Thị Liên', N'0002', 50000.0000, 20)
GO
INSERT [dbo].[LOAI_NGUOI_DUNG] ([MaLoai], [TenLoai], [TienNoToiDa], [HeSoDiemThuong], [DiemTichLuyCanThiet], [SoLuongSachMuonToiDa]) VALUES (N'0001', N'Vãn lai', 100000.0000, N'2         ', N'100       ', 5)
GO
INSERT [dbo].[LOAI_NGUOI_DUNG] ([MaLoai], [TenLoai], [TienNoToiDa], [HeSoDiemThuong], [DiemTichLuyCanThiet], [SoLuongSachMuonToiDa]) VALUES (N'0002', N'Quen thuộc', 200000.0000, N'4         ', N'100       ', 5)
GO
INSERT [dbo].[LOAI_NGUOI_DUNG] ([MaLoai], [TenLoai], [TienNoToiDa], [HeSoDiemThuong], [DiemTichLuyCanThiet], [SoLuongSachMuonToiDa]) VALUES (N'0003', N'Thân thiết', 300000.0000, N'6         ', N'100       ', 5)
GO
INSERT [dbo].[LOAI_NXB] ([MaLoaiNXB], [TenLoaiNXB], [TienNoToiDa], [HeSoDiemThuong], [DiemTichLuyCanThiet]) VALUES (N'LARGE', N'Lớn', 20000000.0000, 30, 500)
GO
INSERT [dbo].[LOAI_NXB] ([MaLoaiNXB], [TenLoaiNXB], [TienNoToiDa], [HeSoDiemThuong], [DiemTichLuyCanThiet]) VALUES (N'MEDIU', N'Vừa', 10000000.0000, 25, 500)
GO
INSERT [dbo].[LOAI_NXB] ([MaLoaiNXB], [TenLoaiNXB], [TienNoToiDa], [HeSoDiemThuong], [DiemTichLuyCanThiet]) VALUES (N'SMALL', N'Nhỏ', 5000000.0000, 20, 500)
GO
INSERT [dbo].[NHA_XUAT_BAN] ([MaNXB], [TenNXB], [TienNo], [LoaiNXB], [DiemTichLuy]) VALUES (N'KIMDO', N'Kim Đồng', 5000000.0000, N'LARGE', 150)
GO
INSERT [dbo].[NHA_XUAT_BAN] ([MaNXB], [TenNXB], [TienNo], [LoaiNXB], [DiemTichLuy]) VALUES (N'NBXTR', N'Trẻ', 5000000.0000, N'LARGE', 120)
GO
INSERT [dbo].[NHA_XUAT_BAN] ([MaNXB], [TenNXB], [TienNo], [LoaiNXB], [DiemTichLuy]) VALUES (N'VANXU', N'Vạn Xuân', 2000000.0000, N'MEDIU', 50)
GO
INSERT [dbo].[PHIEU_MUON_SACH] ([MaPM], [MaKH], [NgayMuon], [TinhTrang]) VALUES (N'0001', N'000001', CAST(N'2009-05-13T12:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[PHIEU_MUON_SACH] ([MaPM], [MaKH], [NgayMuon], [TinhTrang]) VALUES (N'0002', N'000002', CAST(N'2009-09-25T12:00:00.000' AS DateTime), 0)
GO
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [MaTheLoai], [SoLuong], [DonGia]) VALUES (N'ANDT', N'And Then There ...', N'Agatha Christie', N'TTH ', 200, 45000.0000)
GO
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [MaTheLoai], [SoLuong], [DonGia]) VALUES (N'NEWM', N'New Moon', N'Stephenie Meyer', N'TT  ', 300, 75000.0000)
GO
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [MaTheLoai], [SoLuong], [DonGia]) VALUES (N'TDDV', N'Thần Đồng Đất ...', N'Lê Linh', N'TN  ', 200, 15000.0000)
GO
INSERT [dbo].[THE_LOAI] ([MaTheLoai], [TenTheLoai], [SoLuongSachTonToiDa], [HeSoDiemMuon]) VALUES (N'TN  ', N'Thiếu Nhi', 100, 20)
GO
INSERT [dbo].[THE_LOAI] ([MaTheLoai], [TenTheLoai], [SoLuongSachTonToiDa], [HeSoDiemMuon]) VALUES (N'TT  ', N'Tiểu Thuyết', 100, 10)
GO
INSERT [dbo].[THE_LOAI] ([MaTheLoai], [TenTheLoai], [SoLuongSachTonToiDa], [HeSoDiemMuon]) VALUES (N'TTH ', N'Trinh Thám', 50, 30)
GO
ALTER TABLE [dbo].[CT_DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONHANG_DON_HANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DON_HANG] ([MaDH])
GO
ALTER TABLE [dbo].[CT_DONHANG] CHECK CONSTRAINT [FK_CT_DONHANG_DON_HANG]
GO
ALTER TABLE [dbo].[CT_DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONHANG_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CT_DONHANG] CHECK CONSTRAINT [FK_CT_DONHANG_SACH]
GO
ALTER TABLE [dbo].[CT_DONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONNHAP_DON_NHAP] FOREIGN KEY([MaDN])
REFERENCES [dbo].[DON_NHAP] ([MaDN])
GO
ALTER TABLE [dbo].[CT_DONNHAP] CHECK CONSTRAINT [FK_CT_DONNHAP_DON_NHAP]
GO
ALTER TABLE [dbo].[CT_DONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONNHAP_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CT_DONNHAP] CHECK CONSTRAINT [FK_CT_DONNHAP_SACH]
GO
ALTER TABLE [dbo].[CT_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUMUON_PHIEU_MUON_SACH] FOREIGN KEY([MaPM])
REFERENCES [dbo].[PHIEU_MUON_SACH] ([MaPM])
GO
ALTER TABLE [dbo].[CT_PHIEUMUON] CHECK CONSTRAINT [FK_CT_PHIEUMUON_PHIEU_MUON_SACH]
GO
ALTER TABLE [dbo].[CT_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUMUON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CT_PHIEUMUON] CHECK CONSTRAINT [FK_CT_PHIEUMUON_SACH]
GO
ALTER TABLE [dbo].[DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_HANG_KHACH_HANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[DON_HANG] CHECK CONSTRAINT [FK_DON_HANG_KHACH_HANG]
GO
ALTER TABLE [dbo].[DON_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_DON_NHAP_NHA_XUAT_BAN] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NHA_XUAT_BAN] ([MaNXB])
GO
ALTER TABLE [dbo].[DON_NHAP] CHECK CONSTRAINT [FK_DON_NHAP_NHA_XUAT_BAN]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_LOAI_NGUOI_DUNG] FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LOAI_NGUOI_DUNG] ([MaLoai])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_LOAI_NGUOI_DUNG]
GO
ALTER TABLE [dbo].[NHA_XUAT_BAN]  WITH CHECK ADD  CONSTRAINT [FK_NHA_XUAT_BAN_LOAI_NXB] FOREIGN KEY([LoaiNXB])
REFERENCES [dbo].[LOAI_NXB] ([MaLoaiNXB])
GO
ALTER TABLE [dbo].[NHA_XUAT_BAN] CHECK CONSTRAINT [FK_NHA_XUAT_BAN_LOAI_NXB]
GO
ALTER TABLE [dbo].[PHIEU_MUON_SACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_MUON_SACH_KHACH_HANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEU_MUON_SACH] CHECK CONSTRAINT [FK_PHIEU_MUON_SACH_KHACH_HANG]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THE_LOAI] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[THE_LOAI] ([MaTheLoai])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THE_LOAI]
GO
USE [master]
GO
