USE [master]
GO
/****** Object:  Database [QLTBi_1612838]    Script Date: 3/5/2018 7:47:32 PM ******/
CREATE DATABASE [QLTBi_1612838]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTBi_1612838', FILENAME = N'E:\Databases\BT0-1612838\QLTBi_1612838.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTBi_1612838_log', FILENAME = N'E:\Databases\BT0-1612838\QLTBi_1612838_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTBi_1612838].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTBi_1612838]
GO
USE [QLTBi_1612838]
GO
/****** Object:  Table [dbo].[CHITIETMUON]    Script Date: 3/5/2018 7:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETMUON](
	[MAGV] [int] NOT NULL,
	[MATB] [int] NOT NULL,
	[NGAYMUON] [datetime] NOT NULL,
	[THOIGIAN] [int] NULL,
 CONSTRAINT [PK_CHITIETMUON] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MATB] ASC,
	[NGAYMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 3/5/2018 7:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [int] NOT NULL,
	[TENGV] [nvarchar](30) NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[NGAYSINH] [datetime] NULL,
	[CHUCDANH] [char](3) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITHIETBI]    Script Date: 3/5/2018 7:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHIETBI](
	[MALOAITB] [int] NOT NULL,
	[TENLOAITB] [nvarchar](30) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_LOAITHIETBI] PRIMARY KEY CLUSTERED 
(
	[MALOAITB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 3/5/2018 7:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATB] [int] NOT NULL,
	[TENTB] [nvarchar](30) NULL,
	[TINHTRANG] [nvarchar](30) NULL,
	[MALOAITB] [int] NULL,
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETMUON] ([MAGV], [MATB], [NGAYMUON], [THOIGIAN]) VALUES (1, 1, CAST(N'2010-03-02T00:00:00.000' AS DateTime), 3)
GO
INSERT [dbo].[CHITIETMUON] ([MAGV], [MATB], [NGAYMUON], [THOIGIAN]) VALUES (1, 6, CAST(N'2010-03-02T00:00:00.000' AS DateTime), 3)
GO
INSERT [dbo].[CHITIETMUON] ([MAGV], [MATB], [NGAYMUON], [THOIGIAN]) VALUES (3, 11, CAST(N'2010-03-12T00:00:00.000' AS DateTime), 3)
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [TENGV], [GIOITINH], [NGAYSINH], [CHUCDANH]) VALUES (1, N'Trương Bính Dung', N'Nữ', CAST(N'1967-01-02T00:00:00.000' AS DateTime), N'GV ')
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [TENGV], [GIOITINH], [NGAYSINH], [CHUCDANH]) VALUES (2, N'Thái Mỹ Phương', N'Nữ', CAST(N'1970-12-03T00:00:00.000' AS DateTime), N'GV ')
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [TENGV], [GIOITINH], [NGAYSINH], [CHUCDANH]) VALUES (3, N'Trần Thịnh Đức', N'Nam', CAST(N'1980-04-04T00:00:00.000' AS DateTime), N'TG ')
GO
INSERT [dbo].[LOAITHIETBI] ([MALOAITB], [TENLOAITB], [SOLUONG]) VALUES (1, N'Micro có dây', 3)
GO
INSERT [dbo].[LOAITHIETBI] ([MALOAITB], [TENLOAITB], [SOLUONG]) VALUES (2, N'Loa nhỏ', 4)
GO
INSERT [dbo].[LOAITHIETBI] ([MALOAITB], [TENLOAITB], [SOLUONG]) VALUES (3, N'Máy chiếu Sony', 3)
GO
INSERT [dbo].[THIETBI] ([MATB], [TENTB], [TINHTRANG], [MALOAITB]) VALUES (1, N'Mic GĐ1', N'Đang dùng', 1)
GO
INSERT [dbo].[THIETBI] ([MATB], [TENTB], [TINHTRANG], [MALOAITB]) VALUES (2, N'Mic E1', N'Rảnh', 1)
GO
INSERT [dbo].[THIETBI] ([MATB], [TENTB], [TINHTRANG], [MALOAITB]) VALUES (3, N'Mic A1', N'Rảnh', 1)
GO
ALTER TABLE [dbo].[CHITIETMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETMUON_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[CHITIETMUON] CHECK CONSTRAINT [FK_CHITIETMUON_GIAOVIEN]
GO
ALTER TABLE [dbo].[CHITIETMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETMUON_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CHITIETMUON] CHECK CONSTRAINT [FK_CHITIETMUON_THIETBI]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_LOAITHIETBI] FOREIGN KEY([MALOAITB])
REFERENCES [dbo].[LOAITHIETBI] ([MALOAITB])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_LOAITHIETBI]
GO
ALTER TABLE [dbo].[CHITIETMUON]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETMUON_THOIGIAN] CHECK  (([THOIGIAN]>(0)))
GO
ALTER TABLE [dbo].[CHITIETMUON] CHECK CONSTRAINT [CK_CHITIETMUON_THOIGIAN]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIAOVIEN_GIOITINH] CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]='Nam'))
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [CK_GIAOVIEN_GIOITINH]
GO
ALTER TABLE [dbo].[LOAITHIETBI]  WITH CHECK ADD  CONSTRAINT [CK_LOAITHIETBI_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[LOAITHIETBI] CHECK CONSTRAINT [CK_LOAITHIETBI_SOLUONG]
GO
USE [master]
GO
